@font-face {
  font-family: bigone;
  src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: lightone;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: mediumone;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  z-index: 10;

  position: relative;
}
#page1 {
  height: 20vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
nav {
  padding: 2vw 0vw;
  width: 100%;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
}
nav .rightnav {
  display: flex;
  align-items: center;
  gap: 1vw;
}
nav .rightnav h3 {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
nav .rightnav h3::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

nav .rightnav h3:hover::after {
  bottom: 0;
  border-radius: 0;
}

nav .rightnav h3 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

nav .rightnav h3:hover a {
  color: #fff;
}
#page2 {
  display: flex;
  min-height: 100vh;

  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a19b9b;
  
}
#page2 #left {
  padding-top: 48vh;
  font-size: bold;
  width: 27%;
  font-family: mediumone;
  font-weight: bolder;
}
#page2 #right h1 {
  text-align: right;
  font-size: 23vh;
  line-height: 18vh;
  padding-top: 13vh;
  padding-right: 20px;
  font-family: bigone;
  
}

#round {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 95vh;
}
#round1 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #fe330a;
  position: absolute;
  filter: blur(20px);
}
#round2 {
  background: linear-gradient(#fe320a, #fe3f0a);

  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}
#round3 {
  background: linear-gradient(#fe320a, #fe3f0a);

  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}
@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }

  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}
#pagebfr3 {
 height: 120vh;
 width: 100%;
 background-color: #efeae3;
}
#pagebfr3 video {
  position: relative;
  border-radius: 3%;
  width: 100%;
  padding: 8vh 1.7vw;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}
#page3 {
  height: 170vh;
  z-index: 9;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
#GOLA {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe320a;
  margin: 1vw 2vw;
}
#goladiv {
  white-space: nowrap;
  justify-content: center;
  display: flex;
}
#page3 #goladiv h1 {
  font-size: 22vh;
  font-family: bigone;
  padding: 14vh 1vh;
  animation-name: movetext;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes movetext {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page3 #textbottom h2 {
  position: relative;
  font-family: bigone;
  font-size: 60px;
  width: 65%;
  padding-left: 5vw;
  z-index: 9;
}
#page3 #textbottom {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#page3 #textbottom img {
  width: 57%;
  height: 40%;
  border-radius: 10px;
  margin-top: 120px;
  padding-right: 2px;
  display: inline-block;
}
#page3 #textbottom p {
  font-family: lightone;

  padding-top: 10%;

  border-radius: 10px;
}
#page3 #sround {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  /* background: linear-gradient(to top right,red,blue); */

  z-index: -1;
  top: 58%;
  left: 25%;
  filter: blur(90px);
  animation-name: sround;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes sround {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }

  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

#page3 #rightitems {
  padding-left: 6vw;
}
#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #EFEAE3;
  padding: 4vw 0;
}

.elem {
  height: 120px;
  width: 100%;
  position: relative;

  border-bottom: 1px solid #38383864;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}

.elem h2 a {
  font-size: 3vw;
  position: relative;
  z-index: 9;
  text-decoration: none;
  color: #000;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
}

.elem:hover .overlay {
  top: 0;
}



#fixed-image {
  height: 30vw;
  width: 24vw;
  /* background-color: red; */
  border-radius: 15px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}
.bttn h3 {
  height: 40px;
  width: 160px;
  align-items: center;

  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 30px;
}
.bttn h3::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.bttn h3:hover::after {
  bottom: 0;
  border-radius: 0;
}

.bttn h3 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
  vertical-align: middle;  
  line-height: normal;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
}

.bttn h3:hover a {
  color: #fff;
}
.bttn {
  text-align: center;

  margin-top: 2%;
}


#page5 {
  height: 130vh;
  width: 100%;

  background-color: #efeae3;

  position: relative;
}
#page5 .page5wrapper {
  height: 130vh;
  width: 94%;
  margin-left: 37px;
  background-color: #000;
  border-radius: 30px;
  display: flex;
}
#page5 .page5left h1 {
  font-size: 10vh;
  font-family: bigone;
  color: #efeae3;
 margin-top: 160px;
 margin-left: 120px;
  width: 43%;
}
#page5 .page5left {
  max-width: 50%;
}

#page5 h3 {
  font-size: 3vh;
  font-family: bigone;
  color: #efeae3;
  padding-left: 17%;
  padding-top: 20%;
  
  padding-top: 2%;
}
#page5 .page5wrapper .page5right img {
  height: 100%;
  width: 100%;
  background-color: #000;
  background-image: cover;
  background-image: center;
}


#page6 {
  height: 70vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw 2vw;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 30%;
  border-left: 1px solid #aeadad;
  padding: 0 2vw;
}

#page7 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  
}
#footer {
  position: fixed;
  height: 105vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 9;
  bottom: 0;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;
}

#footer h1 {
  font-size: 23vw;
  font-family: bigone;
  position: relative;
  z-index: 10;
}

#footer-div {
  height: 20vh;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 10;
}


#shape {
  height: 50%;
  width: 100%;
  border-top-left-radius: 80%;
  border-bottom-left-radius: 80%;
  background-color: #fe330a;
  position: absolute;
  filter: blur(20px);
  padding-bottom: 700%;
}
#shape1 {
  background: linear-gradient(#fe320a, #fe3f0a);

  height: 50%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
  padding-bottom: 50%;
}
#shape2 {
  background: linear-gradient(#fe320a, #fe3f0a);

  height: 50%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
  padding-bottom: 50%;
}
@keyframes anime1 {
  from {
    transform: translate(5%, -3%);
  }

  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}




#footer-div .two {
  padding-left: 4%;
  font-family: bigone;
  font-size: 5vh;
  position: relative;
  z-index: 10;
}
#footer-div #one {
  padding-left: 55%;
  position: relative;
  z-index: 10;
}
#footer-bottom {
  border-top: 1px solid #dadada;
  height: 10vh;
  width: 100%;
  font-family: smallone;
  display: flex;
  gap: 14vw;
  padding-top: 2%;
  position: relative;
}
#footer-bottom h2 a {
  text-decoration: none;
  color: #dadada;
}
#footer-bottom h2:hover a {
  border-bottom: 2px solid white;
  transition: ease-in-out 0.4s;
}




input[type="email"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    background-color: #fe3f0a;
    outline: none;
    transition: border-color 0.3s ease;
    position: relative;
}

input[type="email"]:focus {
    border-color: #66afe9;
}

input[type="email"]::placeholder {
    color: #999;
}

input[type="email"]::after {
    content: '|';
    margin-left: 2px;
    animation: blink 1s step-end infinite;
}
input[type="email"]:hover::after {

  content: '|';
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}



#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.5s;
}

#full-div1 {
  height: 50%;
  width: 100%;
  background-color: #efeae3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  #loader h1 {
    font-size: 9vw;
  }
}
